.overlayContainer {
  position: fixed; /* Фиксированное позиционирование */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Перекрытие остального контента */
  opacity: 0; /* Изначально скрыто */
  pointer-events: none; /* Изначально неактивно */
  transition: opacity 0.3s ease-in-out;
}

.overlayContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Черный цвет с прозрачностью 50% */
}

.fullBookCard {
  box-sizing: border-box;
  position: absolute;
  background-color: white;
  padding: 20px;
  z-index: 1001; /* Должно быть больше, чем z-index оверлея */
  width: 1400px;
  height: 850px;
  border-radius: 12px;
  overflow-y: scroll;
  background: linear-gradient(
    135deg,
    rgb(255, 255, 255) 0%,
    rgb(245, 244, 244) 100%
  ); /* Лёгкий градиент на фон карточки */
  color: var(--accent-color);
  padding: 20px;
  transform: translateY(-20px); /* Изначально сдвинуто вверх */
  opacity: 0; /* Изначально скрыто */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.fullBookCard::-webkit-scrollbar {
  display: none; /* Скрытие скроллбара для окна */
}

/* Активное состояние (видимое) */
.overlayContainer.active {
  opacity: 1;
  pointer-events: auto; /*  Делаем активным */
}

.fullBookCard.active {
  transform: translateY(0);
  opacity: 1;
}

.closeBtn {
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 48px;
  width: 60px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.2s;
}

.closeBtn:hover {
  background-color: var(--hover-opacity-color);
}

.row {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.imageBlock {
  display: flex;
  align-self: center;
}

.image {
  height: 810px;
}

.bookName {
  color: var(--accent-text-color);
}

.h {
  color: var(--secondary-text-color);
  margin-block: 12px;
}

.opacityText {
  opacity: 0.8;
}

.text {
  color: var(--secondary-text-color);
  font-size: 18px;
}

.buy {
  position: absolute;
  bottom: 1%;
  right: 3%;
  font-size: 24px;
  color: var(--secondary-text-color);
}

.purchaseBtn {
  margin: 10px 20px 10px 30px;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid var(--accent-text-color);
  color: var(--accent-text-color);
  cursor: pointer;
  font-size: 20px;
  transition: box-shadow 0.5s ease-out, transform 0.2s ease-out; /* Анимация */
}

.purchaseBtn:hover {
  box-shadow: 6px 6px 10px rgba(104, 79, 110, 0.2);
}

.purchaseBtn:active {
  transform: translateY(3px) translateX(3px);
  box-shadow: none;
}
