body {
  margin: 0;
  font-family: Open Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-color);
  color: var(--main-text-color);
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .link:hover {
  color: var(--secondary-text-color) !important;
} */

/* .BookList .BookCard:hover {
  all: revert;
  box-shadow: 4px 6px 10px 5px rgba(104, 79, 110, 0.2) !important;
} */
