:root {
  --main-color: #f0e6ef;
  --accent-color: #8f3f7b;
  --secondary-color: #d0b1d7;
  --main-text-color: #333;
  --white-color: #fff;
}
body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-color);
  color: var(--main-text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.link:hover {
  color: var(--main-text-color);
  /* background: linear-gradient(#fff 90%, #F8F5FA 100%); */
}

.BookList .BookCard:hover {
  all: revert;
  box-shadow: 4px 6px 10px 5px rgba(104, 79, 110, 0.2) !important;
}

.header {
  animation: open-site-header-anim 1s ease-in-out;
  animation-iteration-count: 1;
}

.show {
  opacity: 1 !important; /* Показываем элементы */
  transform: translateY(0) !important; /* Возвращаем в исходное положение */
}

@keyframes open-site-header-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
